html, body {
    background: url("../images/bg.png") repeat scroll 0 0 #F9F9F8;
    color: #5F6577;
    font-family: arial,helvetica,clean,sans-serif;
    font-size: 12px;
    text-align: center;
    width: 100%;
	margin:0px;
}
a {
    color: #3333CC;
    text-decoration: none;
}

#wholeWrapper{
	
    margin: 0 auto;
    min-width: 800px;
    padding: 0 5px 5px;
    text-align: left;
    width: 90%;


}

.page-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    min-width: 600px;
    padding: 0 5px 5px;
    text-align: left;
    width: 100%;
}
.page-wrapper > header {
    height: 45px;
}
.page-wrapper > header  img {
    margin-left: 22px;
    padding-top: 5px;
}
.page-wrapper > header > div {
   // background: url("../images/headerBackground.png") repeat scroll 0 0 transparent;
    color: #000000;
    height: 40px;
    padding-top: 5px;
}
.page-wrapper > header div.inline-block.user_info {
    padding: 12px;
    vertical-align: top;
}
.inline-block {
    display: inline-block;
}
#app-header {
    height: 25px;
}
#app-nav {
  //  background: url("../images/tabBg.png") repeat scroll 0 0 #d2d2d2;
    border-left: 0 none;
    border-right: 0 none;
  //  border-top: 1px solid #8D5DB8;
    display: inline-block;
    height: 25px;
    line-height: 1;
    padding: 0;
    width: 100%;
	color:#717171;
}
#app-sub-nav {
   // background: url("../images/tabBelowBg.png") repeat scroll 0 0 transparent;
    margin-bottom: 5px;
}
ol, ul {
    list-style: none outside none;
	padding:0px;
	margin:0px;
}
#app-nav ul.navlinks > li, #app-sub-nav ul.navlinks > li {
    display: inline-block;
    font-weight: bold;
    height: 23px;
    padding-right: 10px;
    text-transform: uppercase;
    vertical-align: top;
}

#app-sub-nav ul.navlinks li span, #app-sub-nav ul.navlinks li a, #app-nav ul.navlinks li a {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    color: #717171;
    cursor: pointer;
    display: block;
    height: 20px;
    margin-left: 0 !important;
    padding-left: 10px;
	text-align:right;
}


#app-sub-nav ul.navlinks li a {
    color: #3333CC;
    font-weight: normal;
    text-transform: none;
	margin-top: 5px;
}

.innerContent{
	min-height: 440px;
}
footer.site-footer {
	background-color: #FAF9F7;
	   letter-spacing: 0;
	    margin-top: 10px;
	    padding: 20px 0;
	    text-align: center;
	    word-spacing: 0;
}
#footer-copyright {
    color: #999999;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
}

#app-nav ul.navlinks > li {
   // border-right: 1px solid #714597 !important;
}
#app-sub-nav ul.navlinks > li span, #app-sub-nav ul.navlinks > li > a, #app-nav ul.navlinks > li > a {
    color: #717171;
    display: block;
    height: 20px;
    margin-top: 5px;
    padding-left: 10px;
	font-size:16px;
	
}
#app-sub-nav ul.navlinks li a {
    color: #3333CC;
}

.selected {
	color:#fff;

}
.chart-box{
	margin:2px;
	font-family: "Segoe UI",Tahoma,Helvetica,Arial,Verdana,sans-serif;
	color: rgb(48, 46, 47);
	font-size:16px;
	line-height:20.9px;
	padding-top:12px;
	padding-left:10px;
	
}
.chart-box .chart-header{
	font-size: 14px;
	padding:2px 2px 2px 4px;
	color: #000000;
	font-weight: bold;
	background: url("../images/moduleHeader.png") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #000000;
	display: block;
	padding-left: 11px;
	padding-top: 2px;
	text-align: left;
	vertical-align: middle;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}

.chart-box .chart-body {
	height:280px;
	padding:2px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
}


#eyes{
	
	position: relative;
	//left:0;
	top:20px;

    width: 100%;
    height: 100%;
   // background: white url('../images/morethanjusteyes.jpg') center center no-repeat;



}

.center{margin: 0px auto; display: block;}


.contentHeading{font-size:26px; width:100%;}

.contentHeading #name{font-size:26px; color:#828282; font-family: "Segoe UI",Tahoma,Helvetica,Arial,Verdana,sans-serif;}
.contentHeading #date{font-size:24px; color:#828282; font-family: "Segoe UI",Tahoma,Helvetica,Arial,Verdana,sans-serif;}

#logo{
color: #616161;
font-size:40px;
padding-top:50px;

font-family: "Segoe UI",Tahoma,Helvetica,Arial,Verdana,sans-serif;


}

#footer{
text-align:center;
padding:10px 0 10 0px;

}

